<!DOCTYPE html>
<html ng-app="myApp">
<head>
	   <title>AngularFilter!</title>
	   <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="css/main.css">
	   <link rel="stylesheet" href="css/bootstrap.css">
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.js"></script>

</head>
<body ng-app="myApp">
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2 col-xs-12 col-lg-6 col-lg-offset-3">
<h1 class="text-center text-primary">This is the example of the angular filters!</h1>
<div ng-controller="myCtrl" class="text-info">
<!-- point to be remember -->
No of columns:<input type="number" step="1" min="0" max="6" ng-model="rowLimit"></input><br><br>
<table class="table table bordered">
 <theader>
  <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Salary</th>
    <th>Salary</th>
  </tr>
 </theader>
 <tbody>
  <tr ng-repeat="employee in employees |limitTo:rowLimit">
  <!-- this is the upercase string filter -->
   <td>{{employee.name|uppercase}}</td>
   <!-- this is the date filter -->
   <td>{{employee.dateOfBirth|date:"d/M/yyyy"}}</td>
   <!-- this is the lowercase string filter -->
   <td>{{employee.gender|lowercase}}</td>
   <!-- this is the currency filter  with one digit after one decimal-->
   <td>{{employee.salary|currency:"$":1}}</td>
   <!-- this is the number filter with the one decimal  -->
   <td>{{employee.salary |number:1}}</td>
  </tr>
 </tbody>
</table>


</div>
</div>
</div>
</div>





 



     <script src="js/app.js"></script>

     <!-- this is for the jquery -->
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="js/main.js"></script>  
     <script src="js/bootstrap.js"></script> 
     <script src="js/your.js"></script>
</body>
</html>